* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #777;
}

header {
    background-color: #333;
    color: white;

    padding: 20px;

}

main {
       
    /* border: 1px solid #333; */
    height: 400px;
    width: 700px;
    background-color: #aaa;
    margin: 100px auto;
    padding: 24px;
}

.left-panel {
    display: flex;
    justify-content: space-between;
}

.input-data {
    display: flex;
    flex-direction: column;
}


.query-DB-panel {
    border: 1px solid #333;
    height: 150px;
    width: 100%;
    margin: 24px 0;
}

input, button {
    height: 24px;
    margin: 3px 6px;
}

button {
    width: 80px;
    margin: 6px;
    cursor: pointer;
    /* border: none; */
    color: white;
}

.btn-clear {
    background-color: red;
}

.btn-show {
    background-color: orange;
}

.btn-add {
    background-color: green;
}

#execution-log {
    background-color: #111;
    color: greenyellow;
    
    resize: none;
    display: flex;

    font-size: 11px;
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
}


.clear-terminal {
    width: 120px;
    margin: 12px 0 0;
    color: black;
    
}


